<!DOCTYPE html>
<html>
  <body>
    <h1>Account Declined</h1>
    <p>Hello <%= @user.last_name.capitalize %>, <%= @user.first_name.capitalize %>,</p>
    <p>Sorry, But your account has been declined. You can check your temporary profile to what you need to update for approval.</p>
    <p>Be Well,<br>
        D & H Realtor Services, LLC</p>
  </body>
</html>