<!DOCTYPE html>
<html>
  <body>
    <h1>Account Declined</h1>
    <p>Hello <%= @user.last_name %>, <%= @user.first_name %>,</p>
    <p>Sorry, But your account has been declined. You can check your temporary profile to what you need to update for approval.</p>
    <p>Thank you!</p>
  </body>
</html>