<!DOCTYPE html>
<html>
  <body>
    <h1>Account Created</h1>
    <p>Hello <%= @user.last_name %>, <%= @user.first_name %>,</p>
    <p>Welcome to RealtorComp, provided by D&H Realtor Service, to help realtors in the hectic real estate business of today. Please follow the link below to activate your account and set you password.</p>
    <p>Be Well,</p>
    <p>M&D Realtor Services</p>
  </body>
</html>