<!DOCTYPE html>
<html>
  <body>
    <h1>Account Created</h1>
    <p>Hello <%= @user.last_name %>, <%= @user.first_name %>,</p>
    <p>Welcome to RealtorComp, provided by D & H Realtor Services, LLC, to help realtors in the hectic real estate business of today. Please follow the link below to activate your account and set you password.</p>
    <p>Be Well,<br>
        D & H Realtor Services, LLC</p>
  </body>
</html>