<!-- app/views/subscriptions/new.html.erb -->
<div class="d-flex flex-column justify-content-center text-center mx-auto main-font mt-5" style="max-width: 1000px;">
  <h3 class="mt-4 text-uppercase tracking-widest fw-semibold">Choose your  subscription  plan</h3>
</div>

<main class="card mx-auto p-4 bg-color border-0 mt-2" style="max-width: 1000px;">
  <div class="row d-flex align-items-center row-cols-1 row-cols-md-3 mb-2 text-center">
    <div class="col">
      <div class="card mb-4 rounded-5 shadow-sm border-1">
        <div class="card-header py-3 rounded-top-5">
          <h4 class="my-0 fw-normal">Free</h4>
        </div>
        <div class="card-body rounded-5 border-1">
          <h2 class="card-title pricing-card-title">&#x24; 0<small class="text-muted fw-light">/mo</small></h2>
          <ul class="list-unstyled mt-3 mb4">
            <li>Sample Perks</li>
            <li>Sample Perks</li>
          </ul>
          <button type="button" class="btn btn-lg btn-outline-secondary rounded-pill disabled" style="width: 80%;">Already signed up</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-5 shadow border-1">
        <div class="card-header py-3 text-white bg-dark border-dark rounded-top-5">
          <h4 class="my-0 fw-normal">Monthly</h4>
        </div>
        <div class="card-body rounded-5 border-5 border-dark">
          <h2 class="card-title pricing-card-title">&#x24; 10<small class="text-muted fw-light">/month</small></h2>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Sample Perks</li>
            <li>Sample Perks</li>
          </ul>
          <button class="btn btn-lg btn-dark rounded-pill" data-plan-id="monthly_plan_id" style="width: 80%;">Subscribe?</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-5 shadow border-1">
        <div class="card-header py-3 text-white bg-primary border-primary rounded-top-5">
          <h4 class="my-0 fw-normal">Yearly</h4>
        </div>
        <div class="card-body rounded-5 border-5 border-primary">
          <h2 class="card-title pricing-card-title">&#x24; 100<small class="text-muted fw-light">/year</small></h2>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Sample Perks</li>
            <li>Sample Perks</li>
          </ul>
          <button class="btn btn-lg btn-primary rounded-pill" data-plan-id="annual_plan_id" style="width: 80%;">Subscribe?</button>
        </div>
      </div>
    </div>
  </div>

  <h2 class="display-6 text-center mb-4">Compare plans</h2>

  <div class="table-responsive">
    <table class="table text-center">
      <thead>
        <tr>
          <th style="width: 34%; background-color: #f9f9fa;"></th>
          <th style="width: 34%; background-color: #f9f9fa;">Free</th>
          <th style="width: 34%; background-color: #f9f9fa;">Monthly</th>
          <th style="width: 34%; background-color: #f9f9fa;">Yearly</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-start" style="background-color: #f9f9fa;">Perks</th>
          <td style="background-color: #f9f9fa;">1</td>
          <td style="background-color: #f9f9fa;">Unlimited</td>
          <td style="background-color: #f9f9fa;">Unlimited</td>
        </tr>
        <tr>
          <th scope="row" class="text-start" style="background-color: #f9f9fa;">Perks</th>
          <td style="background-color: #f9f9fa;">10</td>
          <td style="background-color: #f9f9fa;">Unlimited</td>
          <td style="background-color: #f9f9fa;">Unlimited</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex flex-column justify-content-center mx-auto main-font mt-5 px-4" style="max-width: 1000px;">
    <h3>Need a custom plan?</h3>
    <p>We can help you decide what's the best for your company based on your needs. <a href="contact_us_path">Contact Us</a></p>
  </div>
</main>

<script>
  document.addEventListener("turbo:load", function() {
    var stripePublishableKey = document.querySelector('meta[name="stripe-key"]').getAttribute('content');
    if (!stripePublishableKey) {
      console.error("Stripe publishable key is missing!");
      return;
    }

    console.log("Stripe js working...");

    var stripe = Stripe(stripePublishableKey);

    var buttons = document.querySelectorAll('[data-plan-id]');
    buttons.forEach(function(button) {
      button.addEventListener('click', function(event) {
        var planId = event.target.getAttribute('data-plan-id');
        console.log("Button clicked. Plan ID:", planId);

        fetch('<%= create_checkout_session_subscriptions_path %>', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': '<%= form_authenticity_token %>'
          },
          body: JSON.stringify({ plan_id: planId })
        })
        .then(response => {
          console.log("Fetch response status:", response.status);
          if (!response.ok) {
            return response.text().then(text => { throw new Error(text) });
          }
          return response.json();
        })
        .then(session => {
          console.log("Session ID:", session.id);
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(result => {
          if (result.error) {
            console.error("Error in Stripe redirect:", result.error.message);
            alert(result.error.message);
          }
        })
        .catch(error => {
          console.error('Error:', error); 
          alert('An error occurred. Please try again.');
        });
      });
    });
  });
</script>