<p>Welcome, <%= @user.first_name %>!</p>

<p>Thank you for joining RealtorComp! To get started, please confirm your account email by clicking the link below. This will activate your free 30-day trial and grant you full access to all the features:</p>

<p><%= link_to 'Activate My Free 30-Day Trial', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>If you didn't sign up for this account, please ignore this email. We're here to help if you have any questions or need assistance.</p>

<p>Best regards,<br>
The RealtorComp Team</p>